*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: rgb(41, 39, 27);
}
#header{    
    display: flex;
    justify-content: space-around;
    color: rgb(40, 40, 32);
    overflow-y: hidden;
    
}
.headele{
    font-size: 22px;
    margin: 12px;
}
#logo{
    position: relative;
    font-size: 28px;
    cursor: pointer;
    padding: 9px;
}
#logo span{
      margin-left:-5px ;
}
#headeleid ul li{
    
    margin: 10px;
    
}

a{
    text-decoration: none;
    
}
a:hover{
    color: rgb(183, 29, 37);
}


.button-23 {
    background-color: #1d1919;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ededed;
    cursor: pointer;
    /* display: inline-block; */
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  .button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }


/* SEcond Section */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    margin-right: 80px;
    margin-top: 40px;
    height: 450px;
    width: 317px;
    
    border: 2px solid red;

}

.about-sec{
    max-width: 300px;
    overflow:hidden;
    border: 2px solid green;
    font-weight:700;
    font-size: 32px;
}

.desc{
   
}


/* Third Section */

.skills{
    border: 2px solid blue;
    position: relative;
    
}

.descskill{
    text-align: center;
    background-color: #471818;
    color: #DDDDDD;
    max-width: 200px;
   margin: auto;
   font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.alignment{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.skill{
    background-color: #1d1919;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #ededed;
    cursor: pointer;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    width: 200px;
    overflow: hidden;
    margin-top:15px;
    outline: none;
    padding: 30px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
   
}

.skill:hover{
    background-color: rgb(100, 25, 48);
}


.bottom{
    display: flex;
    justify-content: center;
}

.bottoms{
    border: 2px solid grey;
    width: 700px;
    height: 500px;
    font-weight: 700;
    margin-top: 45px;
    position: relative;
    padding-left: 100px;
    overflow: hidden;
    box-shadow: 5px 10px 5px 12px rgb(130, 151, 158);
}

.con{
    color: #DDDDDD;
    font-weight: 600;
    font-size: 22px;
    width: 150px;
    overflow: hidden;
    
    background-color: rgb(117, 31, 16);
}

#contact{
    background-color: #4d4f74;
    color: aliceblue;
}
#bottom_info{
    background-color: #ededed;
    color: #2f0909;
}

.inpt{
    max-width: 258px;
    text-align: center;
    line-height: 43px;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    border-radius: 24px;
    margin-top: 10px;
    border-bottom: #000000;
    border-bottom: 2px;
}

#bottom_info{
    

}

.sea_sub{
    line-height: 43px;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    border-radius: 24px;
    text-align: center;
    width: 275px;
    

}
.fm{
    display: flex;
    flex-direction: column;
    
}

#text_fo{
    max-width: 400px;
    margin-top: 10px;
}

ul{
    display: flex;
}
li{
    list-style: none;
}









@media screen and (max-width:700px){
    #headeleid ul{
        
        flex-direction: column;

        
        
    }
      
    
}

@media screen  and (max-width: 820px) {
     #head_btn{
        display: flex;
        flex-direction: column;
     } 
}